#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 700px;
  border-radius: 10px;
  background-color: #a6bbc6;
  padding: 20px;
  margin: auto;
  aspect-ratio: 1.8 /1;
}

.title {
  font-size: x-large;
  font-weight: bold;
}

.content {
  display: flex;
  gap: 20px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.right .name {
  font-size: x-large;
  font-weight: bold;
}

.right .description {
  font-size: large;
}

.right .seal {
  font-size: large;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
